body{
    background:black;
}

h1{
    color: chartreuse;
    font-size:50px;
    text-align: center;
}

p{
    color: chartreuse;
    font-size: 20px;
    text-align: center;
}

p:hover{
    color: black;
}

h1:hover{
    color: aqua;
}
