body{
    margin: 0;
    background-color: whitesmoke;
}

.grid{
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "aside"
    ;
}

.header{
    grid-area: header;
    text-align: center;
}

.main{
    grid-area: main;
    padding-left: 20px;
}

.aside{
    grid-area: aside;
}
ul{
    list-style: none;
    border: solid 7px black;
    padding: 7px;
    width: 100px;
    margin-right: 17px;
    float: right;
}
li{
    border: solid 2px black;
    border-radius: 10%;
    padding: 7px;
    width: 60px;
    margin: 3px;
    background-color: red;
    color: whitesmoke;
}

a{
    text-decoration: none;
}

span{
    text-decoration: none;
}

span:hover{
    font-weight: bold;
    color: midnightblue;
}

@media (min-width: 500px){

    .grid{
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
        "header header"
        "main   aside"
        ;
    }

}