body{
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: whitesmoke;
    color: red;
}

.right{
    float: right;
}

.oppg{
    position: absolute;
    left: 590px;
    top:5px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}




body{
    background-color: whitesmoke;
}

.boks{
    border: solid darkred;
    width: 1000px;
    height: 400px;
    background-color: red;
    position: absolute;
    top: 110px;
    left: 183px;
}

.nr1{
    border:solid orange 70px;
    border-radius: 100%;
    background-color: orange;
    position: absolute;
    top: 67px;
    left: 138px;
}

.alph{
    font-size: 70px;
    position: absolute;
    top: 25px;
    left: 190px;
}

.loremh11{
    position: relative;
    left: 108px;
}

.lorem1{
    position: relative;
    top: 50px;
    left: 58px;
    width: 700px;
    font-size: larger;
}
