body{
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
    background-color: whitesmoke;
    background-color: rgba(53, 81, 98, 0.4);
}

.grid{
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-areas:
    "head   head"
    "main   info"
    "foot   foot"
    ;
    background-color: whitesmoke;
    color: black;
    text-align: center;
}
.head{
    grid-area: head;
    background-color: rgba(53, 81, 98, 0.7);
}
.main{
    grid-area: main;
    padding: 3em;
    color: black;
    background-color: whitesmoke;
}
.ranking{
    grid-area: info;
    background-color: transparent;
    position: relative;
    top: 2em;
}
.ranking ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ranking li{
    display: inline;
    color: whitesmoke;
    width: 100%;
}
.ranking button{
    height: 3.54em;
    width: 100%;
    border: transparent;
    background-color: grey;
}
.foot{
    grid-area: foot;
    background-color: rgba(53, 81, 98, 0.6);
    color: whitesmoke;
}

#skjema{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    right: 4em;
}
#skjema p{
    text-align: right;
}
#skjema select{
    width: 14em;
}
#skjema button{
    width: 19em;
    position: relative;
    right: 5em;
}

#top3{
    display: grid;
    grid-template-columns: 1fr;
}
#bunn3{
    display: grid;
    grid-template-columns: 1fr;
}