body{
    background-color: whitesmoke;
    color: whitesmoke;
    margin: 0;
}

.index{
    text-align: center;
    border-radius: 2em;
    background-color: #01A7C2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "head"
    "logo"
    "main"
    "foot"
    ;
}
.iHeader{
    grid-area: head;
}
.iMain{
    grid-area: main;
    background-color: lightskyblue;
    color: #0070a4;
    padding: 1em;
}
.iFooter{
    grid-area: foot;
}
.iLogo{
    grid-area: logo;
}
.iLogo img{
    width: 400px;
    height: 250px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #0070a4;
    width: 80%;
    color: black;
    text-align: center;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #0070a4;
    width: 80%;
    color: black;
    text-align: center;
}
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal3 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content3 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #0070a4;
    width: 80%;
    color: black;
    text-align: center;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr 1fr;
    grid-template-areas:
    "redigerH2      tom          tom        close"
    "skjema         ellerH2      knapp      tom3"
    "skjema         tom2         tom2       tom2"
    ;
}
.redh2{
    grid-area: redigerH2;
}
.ellerh2{
    grid-area: ellerH2;
}
.tom{
    grid-area: tom;
}
#myBtn4{
    grid-area: knapp;
    height: 50px;
    width: 150px;
}
#skjema{
    grid-area: skjema;
}
.close3 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    grid-area: close;
}
.close3:hover,
.close3:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal4 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content4 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #0070a4;
    width: 80%;
    color: black;
    text-align: center;
}
.close4 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close4:hover,
.close4:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#meny{
    height: 2.5em;
    background-color: lightskyblue;
}
#meny ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#meny li{
    display: inline;
}
#meny a{
    color: whitesmoke;
    text-decoration: none;
}
#meny button{
    height: 3em;
    border: transparent;
    background-color: lightskyblue;
    color: whitesmoke;
}
#meny button:hover{
    background-color: #0070a4;
}

.grid{
    background-color: #01A7C2;
    border-radius: 2em;
    display: grid;
    grid-template-areas:
    "header"
    "main"
    "footer"
    ;
    margin: 10px;
}
.header{
    grid-area: header;
    font-size: 120%;
    padding: 10px;
}
.main{
    grid-area: main;
}
#inputIdrett{
    width: 173px;
    height: 20px;
}
#inputIdrett2{
    width: 173px;
    height: 20px;
}
.footer{
    background-color: #0070a4;
    color: whitesmoke;
    text-align: center;
    border-radius: 2em;
    grid-area: footer;
}

#listeUtøver{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}
#listeUtøver li a{
    border: 1px solid ghostwhite;
    background-color: #87cefa;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-align: center;
    border-radius: 15px;
}

#listeUtøver li a:hover:not(.header) {
    background-color: #57d;
    color: whitesmoke;
}

img{
    width: 10em;
    height: 7em;
}

h3{
    text-align: center;
    font-size: 200%;
    margin: 0;
    padding: 0;
}

h4{
    font-size: 150%;
    margin: 10px;
    padding: 0;
}

#skjema input{
    margin-right: 2em;
    margin-left: 2em;
}

#listeUtøver2{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
}

#listeUtøver2 li a{
    border: 1px solid #ddd;
    background-color: #f6f6f6;
    color: black;
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "navn   knapp"
    ;
}

#listeUtøver2 li a:hover:not(.header) {
    background-color: #f6f6f6;
    color: black;
}
#utøver{
    grid-area: navn;
}
.myBtn3{
    grid-area: knapp;
}
.grid2{
    background-color: black;
    display: grid;
    grid-template-areas:
            "header"
            "main"
            "footer"
;
    margin: 10px;
}
.header2{
    grid-area: header;
    font-size: 120%;
    padding: 10px;
    background-color: darkslategrey;
}
.main2{
    grid-area: main;
}
.footer2{
    background-color: darkslategray;
    color: whitesmoke;
    text-align: center;
    grid-area: footer;
}

#meny2{
    height: 2.5em;
    background-color: darkslategrey;
}
#meny2 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#meny2 li{
    display: inline;
}
#meny2 a{
    color: whitesmoke;
    text-decoration: none;
}
#meny2 button{
    height: 3em;
    border: transparent;
    background-color: darkslategrey;
    color: whitesmoke;
}
#meny2 button:hover{
    background-color: darkgray;
}

@media (min-width: 600px){
    .grid{
        grid-template-columns: auto;
        grid-template-areas:
        "header"
        "main"
        "main"
        "footer"
        ;
    }

    #listeUtøver{
        position: relative;
        left: 20px;
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        margin: 20px;
    }
    #listeUtøver li{
        display: grid;
        grid-template-columns: 15em;
        grid-template-areas:
        "bilde"
        "navn"
        "idrett"
        "alder"
        ;
    }
    #navn{
        grid-area: navn;
    }
    #idrett{
        grid-area: idrett;
    }
    #alder{
        grid-area: alder;
    }
    #img{
        grid-area: bilde;
    }
}

@media (min-width: 800px) {
    #listeUtøver{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #listeUtøver2{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1000px) {
    #listeUtøver{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}